/* name   : meta-press.css
 * author : Simon Descarpentries
 * date   : 2017-06
 * licence: GPLv3
 */

/* latin & latin-ext */
/* @font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(font/AmaticSC-Regular.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
} */
/* latin & latin-ext */
/* @font-face {
  font-family: 'Amatic SC';
  font-style: bold;
  font-weight: 400;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(../font/AmaticSC-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}*/

html, body { background: white; height:100% }
.container { min-height:100% }
a {
	color: #00b0a0 !important;
	text-decoration: none !important;
}
a:hover {
	color: #ff8800 !important;
	cursor:pointer;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
	font-family:'Amatic SC', cursive;
	/* , "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* font-weight: normal; */
	color: #333; }
p, ul { margin-top:0 }
.bold {	font-weight: bold }
/* .hide { --> use directly .style.display = 'none';
	display:none;
} */

/**	Override Bootstrap's default container. **/
/* @media (min-width: 1200px) { .container { width: 970px; } } */

/**	Masthead for nav */
.blog-masthead {
	background-color: #00D0C0;
	-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
#meta_press_logo {
	/* width:256px;
	margin-right:1em; */
}
/**	Nav links * */
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight: 500;
	color: #cdddeb!important; }
.blog-nav-item:hover,
.blog-nav-item:focus {
	color: #fff!important;
	text-decoration: none; }
#tooltips_help:hover ~ span {
	display:inline!important;
}
#mp_import_RSS {
	padding-right:0;
}
#mp_import_JSON, #mp_import_ATOM, .no_padding {
	padding:0!important;
}
/**	Active state gets a caret at the bottom **/
.blog-nav .active {
	color: #fff!important; }
.blog-nav .active:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	vertical-align: middle;
	content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
}
/**	Blog name and description **/
#headlines .pagination {
	clear:both;
}
.blog-title {
	margin-bottom: -0.4ex;
	font-size: 89px;
	font-weight: bold;
}
.blog-description {
	font-size: 34px;
	color: #999;
	font-family:'Amatic SC', cursive;
	margin-bottom:0.25ex;
}
#headlines ul {
	float:left;
	padding:0;
	max-width:100%;
}
#mp_headlines_page_sizes {
	clear:both;
	color:#999;
	width:100%;
	text-align:right;
}
/**	Main column and sidebar layout **/
.blog-main {
	font-size: 18px;
	line-height: 1.5; }

/* Sidebar modules for boxing content */
.sidebar-module {
	padding: 15px;
}
.sidebar-module-inset {
	padding: 15px;
	background-color: #F0F0F0;
	border: 1px solid #D0D0D0;
	border-radius: 4px; }
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
	margin-bottom: 0; }
.selectr-selected {
	background-color: #F0F0F0 !important;
	border-color: #D0D0D0 !important;
}
.selectr-container {
	margin-bottom:1ex;
}
.selectr-tag {
	background-color: rgb(190,190,190) !important;
	padding: 2px 19px 2px 4px !important;
}
.selectr-tag small {
	font-style:italic
}
.selectr-tag-remove {
	width:18px !important
}
.selectr-input {
	width: calc(100% - 10ex) !important;
}
/* Pagination */
.pager {
	margin-bottom: 60px;
	text-align: left;
}
.pager > li > a {
	width: 140px;
	padding: 10px 20px;
	text-align: center;
	border-radius: 30px;
}
.pagination > li > a {
	border-color:rgba(0, 208, 192, 1);
}
.pagination .active a {
	border-color:rgba(0, 208, 192, 1);
	background-color:rgba(0, 208, 192, 1);
	border-width:2px;
	color:#FFF !important;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination .active a:hover,
.pagination .active a:focus
{
	border-color: #ff8800;
	background-color: #ffc733 !important;
}
/**	Blog posts **/
.blog-post {
	margin-bottom: 60px; }
.blog-post-title {
	margin-bottom: 5px;
	font-size: 40px; }
.blog-post-meta {
	margin-bottom: 20px;
	color: #999; }

/**	Footer **/
.blog-footer {
	padding: 2em 0;
	color: #999;
	text-align: center;
	background-color: #F0F0F0;
	border-top: 1px solid #C0C0C0; }
.blog-footer p:last-child {
	margin-bottom: 0; }

/** Findings	**/
#mp_query, #mp_submit {
	font-size:20px;
	font-weight:bold;
	margin-bottom:0!important;
	margin-top:1em;
}
#mp_query::-moz-placeholder {
	font-style:italic;
	font-weight:normal;
	font-size:80%
}
#mp_query {
	width:85%;
	padding: 10px;
	/* background-color: #F0F0F0; */
	border-radius: 10px 0 0 10px;
	border: 1px solid #00D0C0;
	height: 5ex;
}
#mp_submit {
	/*background-color: #00D0C0;*/
	background-color: transparent;
	border-radius: 0 10px 10px 0;
	/*border: none;*/
	border: 2px solid #00D0C0;
	width:15%;
	min-width:60px;
	height: 5ex;
	color: #fff;
	margin-left:-0.5ex;
	float:right;
	padding:0.25ex 0.5ex 0.25ex 2.5%;
}
/*#mp_submit img { max-width:2em;}*/
#mp_submit:hover, #save_custom_sources:hover {
	background-color: #ffc733;
	border-color: #ff8800 !important;
}
#mp_submit:disabled {
	background-color:rgb(183, 183, 183) !important;
}
#save_custom_sources {
	padding:1ex;
	margin:1ex 0;
	background-color:#00b0a0;
	border-radius:4px;
	border:0px;
	color:white;
}
#mp_stop {
	margin-top:1ex;
	margin-right:1ex;
	margin-bottom:1ex;
}
#mp_filter, #mp_clear_filter {
	margin-top:1em;
	margin-bottom:1.25ex;
	padding:1ex;
	background-color: #F0F0F0;
	border: 1px solid #D0D0D0;
}
#mp_clear_filter {
	border-radius: 0 4px 4px 0;
	margin-left:-0.5ex;
	color:#999;
	border-left:none;
	width:11%;
	float:right;
}
#mp_clear_filter:hover {
	color:red;
}
#mp_filter {
	border-right:none;
	border-radius: 4px 0 0 4px;
	width:89%;
}
#mp_query_search_terms {
	font-weight:bold;
}
.img_RSS {
	max-width:2ex;
	vertical-align:sub;
}
.list, .pagination {
	list-style-type:none;
}
.pagination {
	text-align: center;
}
.pagination li {
	display:inline-block;
	margin-right: 1ex;
}
.f_txt {
	margin-left:30px;
	text-align:justify;
}
.f_txt img {
	max-width:18ex;
	float:left;
	margin-right:1ex;
	width:auto;
	height:auto
}
#findings > ul.list > li {
	display:inline-grid
}
#result_list {
	margin-left:-40px;
}
.f_url {
	font-weight: bold;
}
.f_selection {
	display:none;
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	margin-left:1ex;
	float:left;
}
.f_icon {
}
.f_url.f_sel { /* margin-left:50px;*/ }
.mp_export_choices { display:none; }
.f_metadata {
	font-size:12px;
	color: rgb(153, 153, 153);
	margin-left:30px;
	margin-top:-0.5ex;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:inline-block;
	width:100%;
}
.f_by:not(:empty)::before {
	content:" – ";
}
.f_source:not(:empty)::after {
	content:" – ";
}
#no_results {
	text-align:center;
}
.mf_nb {
	float:right;
	color:#000;
}
#mf_date_filters {
	list-style:none;
}
#mf_date_filters li {
	padding: 0 1ex;
}
#mf_date_filters li:hover {
	background-color: #F0F0F0 !important;
	border-color: #D0D0D0
}
#meta-findings {
	padding-right:0!important
}
#meta-findings ul {
	padding:0;
}
#meta-findings li {
	margin:0.1ex;
}
.src_name_overflow,
.mf_dt_overflow,
.header-inner {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width:100%;
}
.src_name_overflow {
	width: 64%;
	float:left;
}
.mf_dt_overflow {
	text-overflow: '';
	width:54%;
	direction:rtl;
	text-align:right;
}
.mf_dt_lbl {
	float:left;
	width:46%;
}
#mp_export_results {
	float:right;
	margin-top:1.25ex;
	margin-bottom:1.25ex;
	padding:1ex;
	text-align:right;
}
#search_stats {text-align:center}
.right, #tags_2nd_row_handle {float:right}
.cur_tag_sel_nb {font-style:italic; color: #999}
#reset_tag_sel {font-style:normal}
.tags_col { padding-right:0 !important}
.red {color:red}
.error {color:red; background:#FFCCCC}
.valid {color:green; background:#CCFFCC}
.grey {color:grey}
.green {color:green}
.black {color:black}
b.black {font-size:120%;}
a#new_source {font-style:normal}
.CodeMirror, code {
	background-color: #F0F0F0 !important;
	height:330px!important
}
